.advantages {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 35px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.advantages__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @include tablet {

  }

  @include desktop {

  }
}

.advantages__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 35px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 7px;
  }

  @include desktop {

  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  display: flex;

  @include tablet {
    width: 324px;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: 65px;
    margin-bottom: 67px;

  }

  @include desktop {
    width: 245px;
  }
}

.advantages__item:nth-child(2n) {
  @include tablet {
    margin-right: 0;
  }
}

.advantages__item:not(:last-child) {
  padding-bottom: 20px;
}

.advantages__item {
  counter-reset: itemNum;
}

.advantages__item::after {
  @include tablet {
    counter-increment: itemNum;
    content: counter(itemNum);
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 120px;
    width: 70px;
    height: 230px;
    font-family: "Oswald ", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
  }

  @include desktop {
    left: 110px;
  }
}

.advantages__item:nth-child(2n)::after {
  left: 110px;
}

.advantages__image {
  margin-right: 20px;
  background-color: #68b738;
  width: 50px;
  height: auto;

  @include tablet {
    width: 80px;
    height: 80px;
    margin: 0 0 33px 0;
  }

  @include desktop {
    margin: 0 0 30px 0;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;

  @include tablet {

  }

  @include desktop {

  }
}
