.advantages {
  margin-bottom: 46px;
  min-width: 279px;
  min-height: 380px;
  background-color: #ffffff;
  padding: 0 20px;

  @include tablet {
    padding: 0 30px;
    margin-bottom: 35px;
  }

  @include desktop {
    padding: 0 40px;
    margin-bottom: 0;
  }
}

.advantages__wrapper {
  margin: 0 auto;

  @include tablet {

  }

  @include desktop {

  }
}

.advantages__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 35px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 7px;
  }

  @include desktop {

  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    justify-content: space-between;
  }
}

.advantages__item {
  display: flex;

  @include tablet {
    width: 324px;
    margin-top: 65px;
    margin-bottom: 67px;
  }

  @include desktop {
    width: 245px;
  }
}

.advantages__item:not(:last-child) {
  padding-bottom: 20px;
}

.advantages__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;

  @include tablet {

  }

  @include desktop {

  }
}
