.gift {
  margin: 0 auto;
  @include desktop {
    padding-top: 135px;
  }
}

.product-gift {
  background-color: #68b738;
  background-image: url("/source/img/gift-back.png");
  width: 280px;
  min-height: 225px;
  padding-top: 65px;

  @include tablet {
    width: 100%;
    min-height: 200px;
    display: flex;
    padding: 0 90px;
    box-sizing: border-box;
    align-items: center;
    background-image: url("/source/img/gift-back-table.jpg");
  }

  @include desktop {
    flex-direction: column;
    width: 245px;
    box-sizing: border-box;
    padding-top: 65px;
    background-image: url("/source/img/gift-back.png");
  }
}


.product-gift__icon {
  display: block;
  margin: 0 auto;

  @include tablet {
    margin: 0 auto 0 0;
  }

  @include desktop {
    margin-bottom: 65px;
  }
}

.product-gift__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  width: 161px;

  @include tablet {
    margin: 0;
    text-align: left;
    padding-right: 24px;
  }

  @include desktop {
    text-align: center;
    padding-right: 0;
  }
}

.container__addition-gift {
  @include desktop {
    display: flex;
    padding: 0 40px;
  }
}
