.main-catalog-container {
  width: 320px;
  margin: 0 auto;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1300px;
  }
}

.catalog-product {
  min-width: 320px;
  margin: 0 auto;
}

.product__item {
  max-width: 200px;
  float: right;

  @include tablet {
    min-width: 324px;
    max-width: initial;
  }

  @include desktop {
    min-width: 245px;
    max-width: initial;
  }
}

.catalog-product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0 auto 28px;
  padding: 14px 20px 0;
  border-top: 1px solid #e6e6e6;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 163px;
    padding: 30px 30px 0;
    border-top: none;
  }

  @include desktop {

  }
}

.product-preview {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @include tablet {
    padding: 17px 30px 0;
    border: 0;
    margin-bottom: 15px;
  }

  @include desktop {
    padding: 0 40px;
    margin-bottom: 25px;
  }
}

.product-preview__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(8, 210px);
  grid-template-columns: 1fr;
  margin-bottom: 28px;

  @include tablet {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 140px;
    grid-column-gap: 20px;
    padding: 17px 30px 0;
    margin-bottom: 68px;
    border: 0;
  }

  @include desktop {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 75px;
  }
}

.product-preview__item:first-child {
  border-top: none;
}

.product-preview__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 209px;
  box-sizing: border-box;
  border-top: 1px solid #ededed;
  padding: 0 20px;

  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 324px;
    max-height: 430px;
    background-color: #f2f2f2;
    border-top: none;
    padding: 165px 0 0;
    margin: 0 auto;
  }

  @include desktop {

  }
}

.product-preview__item-showall {
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0 19px;

  @include tablet {
    min-width: 324px;
    max-height: 430px;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 53px;
  }

  @include desktop {

  }
}

.product-parameters__list {
  display: flex;
  flex-direction: column;
  min-width: 142px;
  min-height: 50px;

  @include tablet {

  }

  @include desktop {

  }
}

.products__image-wrapper {
  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 127px;
  }

  @include desktop {

  }
}

.product-parameters__item {
  display: flex;
  justify-content: space-between;

  @include tablet {
    border-bottom: 1px solid #cdcdcd;
    margin: 0 auto;
    min-width: 250px;
  }

  @include desktop {

  }
}

.product-preview__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: 90px;
  margin: 0 0 13px;

  @include tablet {
    font-size: 20px;
    width: 124px;
    margin: 0 auto 20px;
    text-align: center;
    height: 57px;
  }

  @include desktop {

  }
}

.product-parameters__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  @include tablet {
    padding: 5px 0;
  }

  @include desktop {

  }
}

.product-parameters__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.product__button {
  display: block;
  text-decoration: none;
  width: 280px;
  height: 40px;
  background: #68b738;

  @include tablet {
    min-width: initial;
    max-width: 250px;
    margin-top: 35px;
  }

  @include desktop {
    width: 169px;
  }
}

.product__button-text {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
}

.product__preview-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    width: 135px;
    margin: auto 26px;
  }

  @include desktop {

  }
}

.product__continuation-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  @include tablet {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-bottom: 50px;
  }

  @include desktop {

  }
}

.product__button-all {
  display: block;
  text-decoration: none;
  width: 280px;
  height: 40px;
  background: #f2f2f2;

  @include tablet {
    padding: 10px 0;
    margin-bottom: 20px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-bottom: 50px;
  }
}

.product-all__button-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #f2f2f2;
  display: block;
  color: #444444;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
}

.product-continuation__icon {
  width: 30px;
  height: auto;
  margin-bottom: 23px;
  margin-top: 25px;
}
