.main-footer {
  margin: 0 auto;
}

.main-footer__contacts {
  min-width: 320px;
  min-height: 112px;
}

.contacts__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 26px 0 26px 20px;
}

.contacts__text-adress {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  padding: 26px 20px 26px 0;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts__map {
  margin: 0 auto;
  min-width: 320px;
  min-height: 362px;
}

.contacts__social {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
}

.social__list {
  display: flex;
  flex-direction: row;
}

.social__item {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 21px;
}

.social__link {
  text-decoration: none;
}

.social__item:not(:last-child) {
  padding-right: 24px;
}

.main-footer__copyright {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
