.main-footer {
  margin: 0 auto;
}

.main-footer__contacts {
  min-width: 320px;
  min-height: 112px;

  @include tablet {
    min-width: 768px;
  }

  @include desktop {
    min-width: 1300px;
  }
}

.contacts {
  @include desktop {
    position: relative;
  }
}

.contacts__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 26px 0 26px 20px;

  @include tablet {
    font-size: 20px;
    line-height: 25px;
    width: 170px;
  }

  @include desktop {

  }
}

.contacts__text-adress {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  padding: 26px 20px 26px 0;

  @include tablet {
    font-size: 16px;
    width: 170px;
    text-align: right;
    margin-left: auto;
  }

  @include desktop {
    text-align: left;
  }
}

.contacts__item {
  display: flex;
  padding: 30px 20px 25px;

  @include tablet {
    padding: 60px 70px 56px;
  }

  @include desktop {
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 570px;
    padding: 65px 75px;
    left: 110px;
    top: 98px;
    background-color: #ffffff;

  }
}

.contacts__map {
  margin: 0 auto;
  min-width: 320px;
  min-height: 362px;
  background-color: #f2f2f2;
  background-image: url("/source/img/location-mape.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
  width: 100%;
  height: 365px;

  @include tablet {
    min-height: 400px;
    background: center/cover no-repeat url("/source/img/location-tablet.png");
  }

  @include desktop {
    background: center/cover no-repeat url("/source/img/location-desctop.png");
  }
}

.contacts__map-link {
  position: relative;
  left: 145px;
  top: 140px;
  display: block;

  @include tablet {
    left: 360px;
    top: 155px;
  }

  @include desktop {
    left: 65%;
    top: 170px;
  }
}

.contacts__map-logo {
  position: relative;
  width: 56px;
  height: 52px;
  margin: 0 auto;

  @include tablet {
    width: 113px;
    height: 106px;
    margin: auto;
  }
}

.main-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    border: 0;
    margin-left: 30px;
  }

  @include desktop {

  }
}

.contacts__social {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0;

  @include tablet {
    padding: 22px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  @include desktop {

  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  @include tablet {
    margin: unset;
  }

  @include desktop {

  }
}

.page-footer__logo-image {
  margin: 36px 0 26px;
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;

}

.social__item {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 21px;
}

.social__link {
  text-decoration: none;
}

.social__item:not(:last-child) {
  padding-right: 24px;
}

.main-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 0;
}

.copyright__link {
  @include tablet {
    margin-right: 22px;
  }

  @include desktop {

  }
}
