.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 17px 20px;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 65px;
  height: 65px;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 19px;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222,0 16px 0 0 #222222;
}

.main-nav--opened .main-nav__toggle::after, .main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 22px;
  width: 24px;
  height: 2px;
  background-color: #222;
}

.main-nav--opened .main-nav__toggle::after, .main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 22px;
  width: 24px;
  height: 2px;
  background-color: #222;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 45px;
  width: 100%;
  z-index: 2;
}

/*.main-nav--closed .main-nav__list, .main-nav__toggle {
  display: block;
  display: none;
}

.main-nav__list__opened {
  display: block;
  display: none;
}
*/
.site-list__item {
  min-width: 320px;
  min-height: 66px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-list__link {
  margin: 0 auto;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
