.main-header {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 17px 20px;

  @include tablet {
    display: flex;
    padding: 0;
    margin: 0 auto;
  }

  @include desktop {

  }
}

.main-header {
  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1220px;
  }
}

.image__logo-nav {
  @include tablet {
    width: 235px;
    height: 66px;
    display: block;
    margin: 0;
    padding: 0 20px;
  }

  @include desktop {
    width: 190px;
    padding: 3px 0 0;
  }
}

.image-text {
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 65px;
  height: 65px;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 19px;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.main-nav--opened .main-nav__toggle::after, .main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 22px;
  width: 24px;
  height: 2px;
  background-color: #222222;
}

.main-nav--opened .main-nav__toggle::after, .main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 22px;
  width: 24px;
  height: 2px;
  background-color: #222222;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__wrapper {
  @include tablet {
    margin-left: auto;
    padding: 42px 30px 62px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    margin-left: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 65px;
  height: 65px;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 19px;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222,0 16px 0 0 #222222;
}

.main-nav--opened .main-nav__toggle::after, .main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 22px;
  width: 24px;
  height: 2px;
  background-color: #222;
}

.main-nav--opened .main-nav__toggle::after, .main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 22px;
  width: 24px;
  height: 2px;
  background-color: #222;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 70px;
  width: 100%;
  z-index: 2;

  @include tablet {
    display: flex;
    min-width: 440px;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 0;
    align-items: center;
  }

  @include desktop {
    min-width: 478px;
    left: 0;
    top: 0;
  }
}

.main-nav__list__opened {
  display: block;
}

.site-list__item {
  min-width: 320px;
  min-height: 66px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e6e6e6;

  @include tablet {
    min-width: 63px;
    min-height: 24px;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: 0;
  }

  @include desktop {
    padding: 0;
  }
}

.site-list__link {
  margin: 0 auto;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  @include tablet {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__link-index {
  @include desktop {
    color: #ffffff;
  }
}

.site-list__link--active {
  @include tablet {
    position: relative;
  }

  @include desktop {

  }
}

.site-list__link--active::after {
  @include tablet {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    bottom: 13px;
    height: 2px;
    background-color: #68b738;
  }
}

.site-list__link--index::after {
  @include desktop {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    bottom: 13px;
    height: 2px;
    background-color: #ffffff;
  }
}


.main-nav--closed .main-nav__list {
  display: none;
  @include tablet {
    display: flex;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
/*
.main-nav--closed .main-nav__list, .main-nav--nojs .main-nav__toggle {
  display: none;
}*/

.main-nav__toggle {

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}
