.headline {
  width: 100%;
  min-width: 320px;
  height: 480px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 22px;

  @include tablet {
    min-height: 780px;
    position: relative;
  }

  @include desktop {
    min-height: 550px;
    position: relative;
    display: block;
    margin-bottom: 82px;
  }
}

.headline::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 320px;
  height: 304px;
  background-color: #68b738;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/logo-background-cat.jpg");

  @include tablet {
    background: 0 0;
  }

  @include desktop {
    background: 0 0;
  }
}

.headline__hero {
  @include tablet {

  }

  @include desktop {

  }
}

.headline__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding-top: 27px;
  margin: 0;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    width: 420px;
    margin-bottom: 42px;
  }

  @include desktop {

  }
}

.headline__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 25px;
  margin: 0;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    width: 420px;
    margin-bottom: 64px;
  }

  @include desktop {

  }
}

.headline__hero-image {
  position: relative;
  width: 280px;
  height: 270px;
  margin: auto;

  @include tablet {
    position: absolute;
    z-index: -1;
    left: 30px;
    top: 230px;
    height: 610px;
    width: auto;
  }

  @include desktop {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 460px;
    width: 552px;
    height: auto;
  }
}

.logo-hero__picture {
  position: relative;
  width: 280px;
  height: 270px;
  margin: auto;

  @include tablet {
    position: absolute;
    z-index: -1;
    left: 30px;
    top: 251px;
    height: 610px;
    width: 693px;
  }

  @include desktop {

  }
}

.headline__button {
  width: 100%;
  display: block;
  padding: 11px 0;
  background: #68b738;
  text-decoration: none;

  @include tablet {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px 14px 26px;
  }

  @include desktop {

  }
}

.headline__button-text {
  display: block;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {

  }
}
