.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
}

.page__body {
  min-height: 100%;
  max-width: 320px;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1220px;
  }
}

.page__body-index::before{
  @include desktop {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 697px;
    background-color: #65a93c;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
