$mobile-width-only: 767px;
$table-width: 768px;
$desctop-width: 1280px;

$background-color: #ffffff;
$color-text-main: #000000;
$color-text-secondary: #444444;
$color-text-third: #222222;
$color-text-four: #111111;
