$background-color: #ffffff;
$color-text-main: #000000;
$color-text-secondary: #444444;
$color-text-third: #222222;
$color-text-four: #111111;

$tablet-width: 768px;
$desktop-width: 1170px;
$mobile-width-only: 767px;
